.hide {
  display: none; }

.hybrid-section {
  background-image: url("../../images/Hybrid-backgrond.png");
  background-size: cover; }
  .hybrid-section .row .offset-md-1 {
    margin-left: 0; }
  .hybrid-section .hide-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl; }
    .hybrid-section .hide-responsive img {
      position: absolute;
      bottom: 0; }
    @media screen and (max-width: 992px) {
      .hybrid-section .hide-responsive {
        display: none; } }
  .hybrid-section .hybrid-content {
    direction: rtl;
    text-align: right;
    margin-top: 10vh;
    margin-right: 5%; }
    @media screen and (max-width: 992px) {
      .hybrid-section .hybrid-content {
        margin-right: 0;
        padding-right: 25px !important; } }
    .hybrid-section .hybrid-content > h3 {
      font-weight: bold;
      font-family: "toyota_textbold", "Tohama", "Arial";
      font-size: 16px; }
      .hybrid-section .hybrid-content > h3 hr {
        display: inline-block;
        margin: 0 10px 4px 0;
        width: 50px;
        height: 3px;
        background-color: #e60020; }
    .hybrid-section .hybrid-content > span {
      display: inline-block;
      font-family: "toyota_textbold", "Tohama", "Arial";
      font-size: 28px;
      font-weight: 900;
      line-height: 1.14;
      width: 80%;
      color: black; }
      @media screen and (max-width: 768px) {
        .hybrid-section .hybrid-content > span {
          width: 100%; } }
    .hybrid-section .hybrid-content hr {
      margin-top: 20px;
      width: 100%; }
    .hybrid-section .hybrid-content .pros-sliders {
      margin: 8vh 0 8vh 0;
      padding-top: 10px;
      min-height: 150px;
      overflow-x: auto;
      white-space: nowrap;
      max-width: 750px; }
      .hybrid-section .hybrid-content .pros-sliders .adjust-rounds {
        display: inline-block; }
      @media screen and (max-width: 992px) {
        .hybrid-section .hybrid-content .pros-sliders {
          margin: 5vh 0 10vh 0; } }
      .hybrid-section .hybrid-content .pros-sliders .round {
        background-color: white;
        margin: 0 10px 8px 10px;
        display: inline-block;
        width: 70px;
        height: 70px;
        box-shadow: 0 0 5px darkgray;
        border-radius: 35px;
        transition: 0.2s ease;
        vertical-align: top; }
        .hybrid-section .hybrid-content .pros-sliders .round:hover {
          cursor: pointer; }
        .hybrid-section .hybrid-content .pros-sliders .round .pros-logo {
          display: flex;
          width: 70px;
          height: 70px;
          align-items: center;
          justify-content: center; }
        .hybrid-section .hybrid-content .pros-sliders .round::after {
          background-color: #e60020;
          display: none;
          width: 18px;
          height: 18px;
          position: relative;
          margin: auto;
          top: 20px;
          content: "";
          border-radius: 9px; }
        .hybrid-section .hybrid-content .pros-sliders .round:hover {
          background-color: #e60020; }
          .hybrid-section .hybrid-content .pros-sliders .round:hover::after {
            display: block; }
      .hybrid-section .hybrid-content .pros-sliders .selected {
        background-color: #e60020; }
        .hybrid-section .hybrid-content .pros-sliders .selected::after {
          display: block; }
    .hybrid-section .hybrid-content .description {
      min-height: 200px;
      display: none; }
      .hybrid-section .hybrid-content .description.active {
        display: block; }
      .hybrid-section .hybrid-content .description span {
        font-size: 18px;
        font-family: "toyota_textbold", "Tohama", "Arial";
        font-weight: bold;
        color: black; }
      .hybrid-section .hybrid-content .description p {
        padding-top: 10px;
        padding-left: 25px;
        color: #3b3a3a;
        font-size: 14px;
        line-height: 1.57; }

.hybrid-range {
  text-align: right;
  background-image: linear-gradient(64deg, #f6f6f6, #d8d8d8);
  padding-right: 5%;
  padding-top: 5vh;
  direction: rtl; }
  @media screen and (max-width: 768px) {
    .hybrid-range {
      padding-top: 10vh; } }
  .hybrid-range .explore-btn {
    border: 1px solid; }
  .hybrid-range > h3 {
    font-weight: bold;
    font-family: "toyota_textbold", "Tohama", "Arial";
    font-size: 16px; }
    .hybrid-range > h3 hr {
      display: inline-block;
      margin: 0 20px 4px 0;
      width: 50px;
      height: 3px;
      background-color: #e60020; }
  .hybrid-range > span {
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.14;
    width: 80%;
    color: black;
    margin-bottom: 10vh; }
    @media screen and (max-width: 768px) {
      .hybrid-range > span {
        width: 100%; } }
  .hybrid-range .swiper-slide-active {
    height: 500px;
    margin: 0; }
    @media screen and (max-width: 768px) {
      .hybrid-range .swiper-slide-active {
        margin-right: 6% !important;
        margin-left: 6% !important;
        height: 300px; } }
  .hybrid-range .slide-style {
    transition: 0.2s ease;
    min-height: 380px;
    overflow: hidden;
    background-size: cover;
    margin-top: 120px; }
    .hybrid-range .slide-style:hover {
      cursor: pointer; }
    @media screen and (max-width: 768px) {
      .hybrid-range .slide-style {
        min-height: 200px;
        width: 50% !important; } }
    .hybrid-range .slide-style .fancy-txt {
      padding-right: 5%;
      height: 100%;
      width: 100%; }
    .hybrid-range .slide-style .txt-large-faded {
      transition: 0.2s ease;
      white-space: nowrap;
      font-family: "toyota_textbold", "Tohama", "Arial";
      overflow: hidden;
      color: white;
      opacity: 0.2;
      font-size: 150px;
      position: absolute;
      bottom: 25%; }
    .hybrid-range .slide-style .txt-small {
      transition: 0.2s ease;
      color: white;
      padding: 0 20px 50px 0;
      font-family: "toyota_textbold", "Tohama", "Arial";
      display: block;
      font-size: 22px;
      position: absolute;
      bottom: 25%; }
    .hybrid-range .slide-style.swiper-slide-active {
      margin-top: 0; }
      .hybrid-range .slide-style.swiper-slide-active .txt-large-faded {
        bottom: 50%; }
      .hybrid-range .slide-style.swiper-slide-active .txt-small {
        bottom: 50%; }
    .hybrid-range .slide-style.swiper-fade {
      opacity: 0.1; }
  .hybrid-range .adjust-swiper {
    margin-left: -25%; }
    .hybrid-range .adjust-swiper .adjust-nav {
      position: absolute;
      bottom: 0;
      z-index: 10; }
      .hybrid-range .adjust-swiper .adjust-nav .navigation-custom-alt {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        @media screen and (max-width: 1200px) {
          .hybrid-range .adjust-swiper .adjust-nav .navigation-custom-alt {
            display: none; } }
      @media screen and (max-width: 2560px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 23.2%; } }
      @media screen and (max-width: 2000px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 22.57%; } }
      @media screen and (max-width: 1800px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 22.3%; } }
      @media screen and (max-width: 1600px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 22.1%; } }
      @media screen and (max-width: 1500px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 21.8%; } }
      @media screen and (max-width: 1400px) {
        .hybrid-range .adjust-swiper .adjust-nav {
          left: 21.5%; } }
    @media screen and (max-width: 992px) {
      .hybrid-range .adjust-swiper {
        margin-left: -35%; } }
  .hybrid-range h4 {
    font-family: "toyota_textbold", "Tohama", "Arial";
    font-size: 18px;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .hybrid-range h4 {
        text-align: center; }
        .hybrid-range h4::after {
          width: 30% !important; }
        .hybrid-range h4::before {
          display: inline-block;
          width: 30%;
          margin-left: 1%;
          background-color: #979797;
          margin-bottom: 5px;
          opacity: 0.15;
          height: 1px;
          content: ""; } }
    .hybrid-range h4::after {
      display: inline-block;
      width: 90%;
      margin-right: 1%;
      background-color: #979797;
      margin-bottom: 5px;
      opacity: 0.15;
      height: 1px;
      content: ""; }
  .hybrid-range .specs-list {
    min-height: 150px;
    margin: 5vh 0 5vh 5%; }
    @media screen and (max-width: 768px) {
      .hybrid-range .specs-list {
        text-align: justify;
        min-height: 250px; } }
    .hybrid-range .specs-list .list-display {
      display: none; }
      .hybrid-range .specs-list .list-display.active {
        display: block; }
    @media screen and (max-width: 768px) {
      .hybrid-range .specs-list ol {
        width: 80%;
        margin: auto; } }
    .hybrid-range .specs-list ol li {
      display: inline-block;
      width: 20%;
      margin-right: 10%; }
      @media screen and (max-width: 768px) {
        .hybrid-range .specs-list ol li {
          display: block;
          width: 100%;
          margin-top: 3vh; } }
      .hybrid-range .specs-list ol li::before {
        right: 0;
        left: initial; }
  .hybrid-range .rd-more {
    display: block;
    text-align: center;
    color: #e60020;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      .hybrid-range .rd-more {
        margin-top: 3vh; } }
  .hybrid-range .img-container .car-img {
    pointer-events: none;
    transition: 0.2s ease;
    margin-right: -7%;
    position: relative;
    width: 90%;
    z-index: 1000;
    /*transform: scaleX(-1);*/ }
    @media screen and (max-width: 2560px) {
      .hybrid-range .img-container .car-img {
        bottom: 200px; } }
    @media screen and (max-width: 2000px) {
      .hybrid-range .img-container .car-img {
        bottom: 155px; } }
    @media screen and (max-width: 1200px) {
      .hybrid-range .img-container .car-img {
        bottom: 100px;
        margin-right: -6%; } }
    @media screen and (max-width: 768px) {
      .hybrid-range .img-container .car-img {
        margin-right: -4%; } }
    @media screen and (max-width: 576px) {
      .hybrid-range .img-container .car-img {
        width: 100%;
        bottom: 45px; } }
  @media screen and (max-width: 2560px) {
    .hybrid-range .img-container {
      height: 350px; } }
  @media screen and (max-width: 2000px) {
    .hybrid-range .img-container {
      height: 200px; } }
  .hybrid-range .button-container {
    padding-top: 5vh;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .hybrid-range .button-container {
        margin-top: -100px; }
        .hybrid-range .button-container br {
          display: block !important; } }
    .hybrid-range .button-container br {
      display: none; }
    .hybrid-range .button-container .btn {
      margin: 0 5px; }
      @media screen and (max-width: 768px) {
        .hybrid-range .button-container .btn {
          margin: 5px 0px; } }
    .hybrid-range .button-container .btn-custom {
      padding: 10px 30px; }

.swiper-wrapper {
  align-items: flex-end; }

/*                    */
.timeline {
  direction: rtl;
  text-align: right;
  padding: 5vh 10% 0 0;
  padding-bottom: 150px;
  overflow: hidden; }
  .timeline .swiper-wrapper {
    align-items: flex-start; }
  @media screen and (max-width: 1200px) {
    .timeline {
      padding-bottom: 75px !important; } }
  @media screen and (max-width: 768px) {
    .timeline {
      padding: 5vh 5% 75px 0; } }
  .timeline h2 {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.1px;
    margin-bottom: 50px; }
  .timeline .timeline-adjust {
    padding-right: 5%; }
  .timeline .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .timeline .timeline-content {
    overflow: visible;
    height: 100%;
    width: 100%; }
    .timeline .timeline-content .left-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      @media screen and (max-width: 1200px) {
        .timeline .timeline-content .left-content {
          margin-bottom: 100px; } }
      @media screen and (max-width: 1025px) {
        .timeline .timeline-content .left-content {
          margin-bottom: 125px; } }
      @media screen and (max-width: 576px) {
        .timeline .timeline-content .left-content {
          margin-bottom: 100px; } }
      .timeline .timeline-content .left-content .img-container {
        max-height: 350px;
        overflow: hidden; }
        @media screen and (max-width: 576px) {
          .timeline .timeline-content .left-content .img-container {
            max-height: 200px; } }
    @media screen and (max-width: 1200px) {
      .timeline .timeline-content .swiper-slide img {
        width: 95%; } }
    .timeline .timeline-content .remove-margin {
      margin: 0; }
    .timeline .timeline-content .remove-padding {
      padding: 0; }
    .timeline .timeline-content .fancy-border {
      position: absolute;
      right: 0;
      top: -30px;
      height: 500px;
      width: 1px;
      background-color: black;
      z-index: 10; }
      @media screen and (max-width: 1800px) {
        .timeline .timeline-content .fancy-border {
          height: 475px; } }
      @media screen and (max-width: 1700px) {
        .timeline .timeline-content .fancy-border {
          height: 450px; } }
      @media screen and (max-width: 1600px) {
        .timeline .timeline-content .fancy-border {
          height: 425px; } }
      @media screen and (max-width: 1400px) {
        .timeline .timeline-content .fancy-border {
          height: 400px; } }
      @media screen and (max-width: 1200px) {
        .timeline .timeline-content .fancy-border {
          height: 650px; } }
      @media screen and (max-width: 1100px) {
        .timeline .timeline-content .fancy-border {
          height: 500px; } }
      @media screen and (max-width: 1000px) {
        .timeline .timeline-content .fancy-border {
          height: 550px; } }
      @media screen and (max-width: 900px) {
        .timeline .timeline-content .fancy-border {
          height: 500px; } }
      @media screen and (max-width: 800px) {
        .timeline .timeline-content .fancy-border {
          height: 420px; } }
      @media screen and (max-width: 576px) {
        .timeline .timeline-content .fancy-border {
          height: 300px; } }
      @media screen and (max-width: 376px) {
        .timeline .timeline-content .fancy-border {
          height: 275px; } }
      @media screen and (width: 768px) {
        .timeline .timeline-content .fancy-border {
          height: 455px; } }
      .timeline .timeline-content .fancy-border::before {
        content: "";
        width: 8px;
        height: 16px;
        right: -4px;
        position: absolute;
        bottom: 0;
        background-color: red; }
    .timeline .timeline-content .force-inline {
      display: inline-block; }
    .timeline .timeline-content .navigation-custom {
      position: absolute;
      bottom: 0;
      right: 43%;
      z-index: 100;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      @media screen and (max-width: 1200px) {
        .timeline .timeline-content .navigation-custom {
          text-align: right;
          width: 100%;
          height: auto;
          flex-direction: row-reverse;
          text-align: right;
          justify-content: flex-start;
          bottom: -55px;
          left: 55px;
          right: auto; } }
    .timeline .timeline-content .cover-year {
      color: white;
      background-color: rgba(230, 1, 31, 0.8);
      bottom: 0;
      padding: 5vh 15% 5vh;
      font-family: "toyota_textbold", "Tohama", "Arial";
      margin-right: -15%;
      margin-bottom: -5vh;
      z-index: 11;
      position: absolute;
      bottom: 0;
      vertical-align: baseline;
      font-size: 72px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .timeline .timeline-content .cover-year {
          font-size: 25px;
          margin-bottom: -3vh;
          padding: 3vh 15% 3vh; } }
    .timeline .timeline-content .content-txt {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 1200px) {
        .timeline .timeline-content .content-txt {
          padding-right: 0 !important;
          width: 95%; } }
      .timeline .timeline-content .content-txt h3 {
        margin-top: 5vh;
        font-family: "toyota_textbold", "Tohama", "Arial";
        color: #e6011f; }
        @media screen and (max-width: 1200px) {
          .timeline .timeline-content .content-txt h3 {
            margin-top: 10px; } }
      .timeline .timeline-content .content-txt p {
        text-align: justify; }
      .timeline .timeline-content .content-txt.offset-xl-1 {
        margin-left: 0;
        margin-right: 8.33333%; }
        @media screen and (max-width: 1200px) {
          .timeline .timeline-content .content-txt.offset-xl-1 {
            margin-right: 0; } }
  .timeline .timeline-top {
    overflow: visible;
    z-index: 10;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 18px; }
  .timeline .timeline-top .swiper-slide {
    height: 100%;
    cursor: pointer;
    transition: 0.4s ease;
    font-family: "toyota_textbold", "Tohama", "Arial"; }
    .timeline .timeline-top .swiper-slide.no-click {
      pointer-events: none; }
    .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
      content: "";
      height: 500px;
      pointer-events: none;
      opacity: 0.4;
      width: 1px;
      background-color: grey;
      position: absolute;
      right: -5px;
      z-index: 10; }
      @media screen and (max-width: 1800px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 475px; } }
      @media screen and (max-width: 1700px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 450px; } }
      @media screen and (max-width: 1600px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 425px; } }
      @media screen and (max-width: 1400px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 400px; } }
      @media screen and (max-width: 1200px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 650px; } }
      @media screen and (max-width: 1100px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 500px; } }
      @media screen and (max-width: 1000px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 550px; } }
      @media screen and (max-width: 900px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 500px; } }
      @media screen and (max-width: 800px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 420px; } }
      @media screen and (max-width: 576px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 300px; } }
      @media screen and (max-width: 376px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 275px; } }
      @media screen and (width: 768px) {
        .timeline .timeline-top .swiper-slide:not(.swiper-slide-active):not(.no-click)::before {
          height: 455px; } }
  .timeline .timeline-top .swiper-slide {
    opacity: 0; }
  .timeline .timeline-top .swiper-slide-active {
    opacity: 0; }
    .timeline .timeline-top .swiper-slide-active + .swiper-slide {
      opacity: 1; }
      .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1; }
        @media screen and (max-width: 768px) {
          .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide {
            opacity: 0.19; } }
        .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
          opacity: 0.19; }
          @media screen and (max-width: 768px) {
            .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
              opacity: 0.1; } }
          .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
            opacity: 0.1; }
            @media screen and (max-width: 768px) {
              .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
                opacity: 0.05; } }
            .timeline .timeline-top .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
              opacity: 0.05; }

.arrow {
  transition: 0.2s ease;
  height: 45px;
  width: 45px;
  font-family: "toyota_textbold", "Tohama", "Arial";
  line-height: 40px;
  display: block;
  transform: scaleX(-1);
  font-size: 30px;
  margin: 0;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .arrow {
      display: inline-block; } }
  .arrow:not(.deactivated):hover {
    background-color: #3b3a3a;
    color: #e60020; }
  .arrow.flip-arrow {
    transform: scaleX(1); }

.deactivated {
  background-color: #bcbcbc; }
